<?xml version="1.0"?>
<counter
        xmlns:excerpt="http://wordpress.org/export/1.2/excerpt/"
        xmlns:param="http://hoangweb.com/export/1.0/param/"
        xmlns:params="http://hoangweb.com/export/1.0/params/"
        xmlns:skin="http://hoangweb.com/export/1.0/skin/"
        xmlns:content="http://purl.org/rss/1.0/modules/content/"
        xmlns:wfw="http://wellformedweb.org/CommentAPI/"
        xmlns:dc="http://purl.org/dc/elements/1.1/"
        xmlns:wp="http://wordpress.org/export/1.2/"
        xmlns:hw="http://hoangweb.com/export/1.0/"
        >
    <settings>
        <params>
            <param name="import">cli/export.xml</param>
        </params>
    </settings>

</counter>